.main {
  margin-top: 84px;
  width: 100%;
}

.items {
  margin: 16px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.items-wrapper {
  background-color: #fff;
  max-width: 500px;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
}

.items-header {
  height: 39px;
  border-bottom: 1px solid #dee2e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}

.items-avatar {
  width: 40px;
  height: 40px;
}

.items-avatar > img {
  width: 100%;
  height: 100%;
  max-height: 600px;
  border-radius: 50%;
  border: 2px solid #939393;
}

.items-nickname {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 600;
}

.items-dogs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #000;
  max-width: 500px;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
}

.items-info {
  padding: 0 10px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 8px;
}

fa-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  margin-right: 16px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #FF8484;
}

fa-icon:hover {
  color: #919191;
}

.clicked {
  color: #FF0000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test-clicked:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: red;
}

.items-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8px 0 16px;
  gap: 8px;
}

.items-like {
  font-weight: 600;
  font-size: 15px;
}

.items-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #8EC5FC;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  .main {
    margin: 0;
  }

  .items-wrapper {
    border: none;
  }

  .items-header {
    border: 1px solid #dbdbdb;
    border-radius: 8px 8px 0 0;
  }

  .items-info {
    border: 1px solid #dbdbdb;
    border-radius: 0 0 8px 8px;
  }
}
